@use "../../utils/variables.scss" as *;
.loader {
    width: calc(100vw / 1920 * 30);
    height: calc(100vw / 1920 * 30);
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $text-black;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    @media (min-width: 1920px) {
      height: 30px;
      width: 30px;
    }
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 