.navUp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3%;
    bottom: 100px;
    z-index: 5;
    opacity: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer; 
    overflow: hidden;
    transition: 1s;
  }
  .arrowUp {
    opacity: 1;
  }    
  .iconArrow {
    opacity: 1; 
  }