@use "../../../utils/variables.scss" as *;

.section {
  position: relative;
  overflow-x: hidden;
  @media (max-width: 744px) {
    overflow-x:visible;
  }

  .container {
    position: relative;
    height: 100vh;
    width: 230vw;
    overflow-x: hidden;
    @media (max-width: 744px) {
      width: 100vw;
      height: calc(100vw / 744 * 2056);
      overflow-x: visible;
    }
    @media (max-width: 414px) {
      height: calc(100vw / 414 * 1622);
    }
   
    .scrollSections {
      display: flex;
      align-items: center;
      width: 230vw;
      height: 100vh;
      overflow-x: hidden;
      @media (max-width: 1440px) {
        width: 250vw;
      }
      @media (max-width: 1280px) {
        width: 270vw;
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 744);
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        overflow-x: visible;
      }
      .title {
        display: inline-block;
        width: calc(100vw / 1920 * 531);
        font-family: "Unbounded";
        font-size: calc(100vw / 1920 * 64);
        font-weight: 600;
        line-height: 130%;
        margin-left: calc(100vw / 1920 * 295);
        margin-right: calc(100vw / 1920 * 417);
        @media (min-width: 1920px) {
          width: 531px;
          font-size: 64px ;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 523);
          font-size: calc(100vw / 1440 * 64);
          margin: 0 calc(100vw / 1440 * 215) 0 calc(100vw / 1440 * 205) ;
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 388);
          font-size: calc(100vw / 1280 * 48);
          margin: 0 calc(100vw / 1280 * 256) 0 calc(100vw / 1280 * 192) ;
        }
        @media (max-width: 744px) {
          width: calc(100vw / 744 * 261);
          font-size: calc(100vw / 744 * 32);
          margin: calc(100vw / 744 * 80) 0 calc(100vw / 744 * 40) calc(100vw / 744 * 125);
        }
        @media (max-width: 414px) {
          width: calc(100vw / 414 * 374);
          font-size: calc(100vw / 414 * 28);
          margin: calc(100vw / 414 * 40) 0 calc(100vw / 414 * 40) calc(100vw / 414 * 20);
        }
      }
      .content {
        height: 100vh;
        align-items: center;
        display: flex;
        gap: calc(100vw / 1920 * 80);
        @media (min-width: 1920px) {
          gap: 80px;
        }
        @media (max-width: 1440px) {
          gap: calc(100vw / 1440 * 80);
        }
        @media (max-width: 1280px) {
          gap: calc(100vw / 1280 * 80);
        }
        @media (max-width: 744px) {
          width: calc(100vw / 744 * 744);
          height: fit-content;
          flex-direction: column;
          align-items: center;
          gap: calc(100vw / 744 * 40);
        }
        @media (max-width: 414px) {
          gap: calc(100vw / 414 * 40);
        }
        .contentItem {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(100vw / 1920 * 1000);
          height: calc(100vw / 1920 * 700);
          border-radius: calc(100vw / 1920 * 100);
          padding: 0 calc(100vw / 1920 * 252);
          background: $bg-green;
          @media (min-width: 1920px) {
            width: 1000px;
            height: 700px;
            border-radius: 100px;
            padding: 0 252px;
          }
          @media (max-width: 1440px) {
            width: calc(100vw / 1440 * 818);
            height: calc(100vw / 1440 * 550);
            padding: 0 calc(100vw / 1440 * 229);
            border-radius: calc(100vw / 1440 * 100);
          }
          @media (max-width: 1280px) {
            width: calc(100vw / 1280 * 818);
            height: calc(100vw / 1280 * 550);
            padding: 0 calc(100vw / 1280 * 231);
            border-radius: calc(100vw / 1280 * 100);
          }
          @media (max-width: 744px) {
            width: calc(100vw / 744 * 664);
            height: calc(100vw / 744 * 550);
            padding: 0 calc(100vw / 744 * 163);
            border-radius: calc(100vw / 744 * 100);
  
          }
          @media (max-width: 414px) {
            width: calc(100vw / 414 * 374);
            height: calc(100vw / 414 * 450);
            padding: 0 calc(100vw / 414 * 27);
            border-radius: calc(100vw / 414 * 50);
          }
          .itemTitle {
            font-size: calc(100vw / 1920 * 48);
            font-weight: 500;
            margin-bottom: calc(100vw / 1920 * 16);
            @media (min-width: 1920px) {
              font-size: 48px;
              margin-bottom: 16px;
            }
            @media (max-width: 1440px) {
              font-size: calc(100vw / 1440 * 32);
              margin-bottom: calc(100vw / 1440 * 16);
            }
            @media (max-width: 1280px) {
              font-size: calc(100vw / 1280 * 32);
              margin-bottom: calc(100vw / 1280 * 16);
            }
            @media (max-width: 744px) {
              font-size: calc(100vw / 744 * 32);
              margin-bottom: calc(100vw / 744 * 16);
            }
            @media (max-width: 414px) {
              font-size: calc(100vw / 412 * 28);
              margin-bottom: calc(100vw / 412 * 16);
            }
          }
          .itemText {
            font-size: calc(100vw / 1400 * 20);
            font-weight: 400;
            line-height: 140%;
            @media (min-width: 1920px) {
              font-size: 20px;
            }
            @media (max-width: 1440px) {
              font-size: calc(100vw / 1440 * 18);
            }
            @media (max-width: 1280px) {
              font-size: calc(100vw / 1280 * 18);
            }
            @media (max-width: 744px) {
              font-size: calc(100vw / 820 * 18);
            }
            @media (max-width: 414px) {
              font-size: calc(100vw / 414 * 18);
            }
          }
        }
      }
    }
  }
}
