@use "../../../utils/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: calc(100vw / 1920 * 1010);
  @media (min-width: 1920px) {
    height: 1010px;
  }
  @media (max-width: 1440px) {
    height: calc(100vw / 1440 * 900);
  }
  @media (max-width: 1280px) {
    height: calc(100vw / 1280 * 869);
  }
  @media (max-width: 1024px) {
    height: calc(100vw / 1024 * 1876  );
  }
  @media (max-width: 744px) {
    height: calc(100vw / 744 * 1846);
  }
  @media (max-width: 414px) {
    height: calc(100vw / 414  * 1523);
  }
  .wrapper {
    width: calc(100vw / 1920 * 1920);
    margin: 0 auto;
    @media (min-width: 1920px) {
      width: 1920px;
    }
    .title {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: calc(100vw / 1920 * 503);
      font-family: "Unbounded";
      font-size: calc(100vw / 1920 * 64);
      font-weight: 600;
      line-height: 130%;
      margin: calc(100vw / 1920 * 80) 0 calc(100vw / 1920 * 80)
        calc(100vw / 1920 * 295);
      @media (min-width: 1920px) {
        width: 503px;
        font-size: 64px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 503);
        font-size: calc(100vw / 1440 * 64);
        margin: calc(100vw / 1440 * 80) 0 calc(100vw / 1440 * 40) calc(100vw / 1440 * 205);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 448);
        font-size: calc(100vw / 1280 * 48);
        margin: calc(100vw / 1280 * 80) 0 calc(100vw / 1280 * 40) calc(100vw / 1280 * 192);
      }
      @media (max-width: 1024px) {
        width: calc(100vw / 1024 * 330);
        font-size: calc(100vw / 1024 * 40);
        margin: calc(100vw / 1024 * 80) 0 calc(100vw / 1024 * 40) calc(100vw / 1024 * 241);
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 268);
        font-size: calc(100vw / 744 * 32);
        margin: calc(100vw / 744 * 80) 0 calc(100vw / 744 * 40) calc(100vw / 744 * 125);
      }
      @media (max-width: 414px) {
        width: calc(100vw / 414 * 320);
        font-size: calc(100vw / 414 * 28);
        margin: calc(100vw / 414 * 40) 0 calc(100vw / 414 * 40) calc(100vw / 414 * 20);
      }
    }
    .content {
      position: relative;
      width: calc(100vw / 1920 * 1599);
      height: fit-content;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      @media (min-width: 1920px) {
        width: 1599px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 1239);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 1080);
      }
      @media (max-width: 1024px) {
        flex-direction: column;
        width: calc(100vw / 1024 * 494);
        height:calc(100vw / 1024 * 1520);
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 494);
        height:calc(100vw / 744 * 1520);
      }
      @media (max-width: 414px) {
        width: calc(100vw /414 * 375);
        height:calc(100vw / 414 * 1340);
      }
      .contentItem {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw / 1920 * 517);
        height: calc(100vw / 1920 * 480);
        padding: calc(100vw / 1920 * 148) calc(100vw / 1920 * 92) 0;
        @media (min-width: 1920px) {
          width: 517px;
          height: 480px;
          padding: 148px 103px 0;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 397);
          height: calc(100vw / 1440 * 451);
          padding: calc(100vw / 1440 * 124) calc(100vw / 1440 * 67) 0;
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 344);
          height: calc(100vw / 1280 * 483);
          padding: calc(100vw / 1280 * 123) calc(100vw / 1280 * 32) 0;
        }
        @media (max-width: 1024px) {
          padding: calc(100vw / 1024 * 157) calc(100vw / 1024 * 75);
          height: calc(100vw / 1024 * 480);
          width: calc(100vw / 1024 * 494);
          border-radius: calc(100vw / 1024 * 100);
          padding: calc(100vw / 1024 * 125) calc(100vw / 1024 * 92) 0;
        }
        @media (max-width: 744px) {
          padding: calc(100vw / 744 * 157) calc(100vw / 744 * 75);
          height: calc(100vw / 744 * 480);
          width: calc(100vw / 744 * 494);
          border-radius: calc(100vw / 744 * 100);
          padding: calc(100vw / 744 * 148) calc(100vw / 744 * 92) 0;
        }
        @media (max-width: 414px) {
          height: calc(100vw / 414 * 420);
          width: calc(100vw / 414 * 375);
          border-radius: calc(100vw / 414 * 50);
          padding: calc(100vw / 414 * 111) calc(100vw / 414 * 56) 0;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          &::before {
            width: calc(100vw / 414 * 213);
            border-radius: 0 calc(100vw / 414 * 75) 0 calc(100vw / 414 * 150);
            height: calc(100vw / 414 * 80);
          }
        }
        &:first-child {
          background-image: url(../../../assets/svg/cardGreenLeft@1920.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          @media (max-width: 1440px) {
            background-image: url(../../../assets/svg/cardGreenLeft@1440.svg);
          }
          @media (max-width: 1280px) {
            background-image: url(../../../assets/svg/cardGreenLeft@1280.svg);
          }
          @media (max-width: 1024px) {
            background-image: url(../../../assets/svg/cardGreen@744.svg);
          }
          @media (max-width: 744px) {
            background-image: url(../../../assets/svg/cardGreen@744.svg);
          }
          @media (max-width: 414px) {
            background-image: url(../../../assets/svg/cardGreen@414.svg);
          }
        }
        &:nth-child(2n) {
          background-image: url(../../../assets/svg/cardWhite@1920.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: bottom;
          padding-top: calc(100vw / 1920 * 69);
          height: calc(100vw / 1920 * 394);
          @media (min-width: 1920px) {
            padding-top: 69px;
            height: 394px;
          }
          @media (max-width: 1440px) {
            background-image: url(../../../assets/svg/cardWhite@1440.svg);
            padding-top: calc(100vw / 1440 * 39);
            height: calc(100vw / 1440 * 366);
          }
          @media (max-width: 1280px) {
            background-image: url(../../../assets/svg/cardWhite@1280.svg);
            padding-top: calc(100vw / 1280 * 38);
            height: calc(100vw / 1280 * 398);
          }
          @media (max-width: 1024px) {
            background-image: url(../../../assets/svg/cardWhite@744.svg);
            padding: calc(100vw / 1024 * 125) calc(100vw / 1024 * 80) 0;
            height: calc(100vw / 1024 * 480);
          }
          @media (max-width: 744px) {
            background-image: url(../../../assets/svg/cardWhite@744.svg);
            padding: calc(100vw / 744 * 148) calc(100vw / 744 * 92) 0;
            height: calc(100vw / 744 * 480);
          }
          @media (max-width: 414px) {
            background-image: url(../../../assets/svg/cardWhite@414.svg);
            padding: calc(100vw / 414 * 111) calc(100vw / 414 * 56) 0;
            height: calc(100vw / 414 * 420);
          }
          .black {
            color: $text-black;
          }
        }
        &:last-child {
          background-image: url(../../../assets/svg/cardGreenRight@1920.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          @media (max-width: 1440px) {
            background-image: url(../../../assets/svg/cardGreenRight@1440.svg);
          }
          @media (max-width: 1280px) {
            background-image: url(../../../assets/svg/cardGreenRight@1280.svg);
          }
          @media (max-width: 1024px) {
            background-image: url(../../../assets/svg/cardGreen@744.svg);
          }
          @media (max-width: 744px) {
            background-image: url(../../../assets/svg/cardGreen@744.svg);
          }
          @media (max-width: 414px) {
            background-image: url(../../../assets/svg/cardGreen@414.svg);
          }
        }
        .itemTitle {
          font-family: "Unbounded";
          font-size: calc(100vw / 1920 * 32);
          font-weight: 500;
          line-height: 130%;
          margin-bottom: calc(100vw / 1920 * 16);
          @media (min-width: 1920px) {
            font-size: 32px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 32);
            margin-bottom: calc(100vw / 1440 * 16);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 32);
            margin-bottom: calc(100vw / 1280 * 16);
          }
          @media (max-width: 1024px) {
            font-size: calc(100vw / 1024 * 32);
            margin-bottom: calc(100vw / 1024 * 16);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 32);
            margin-bottom: calc(100vw / 744 * 16);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 28);
            margin-bottom: calc(100vw / 414 * 16);
          }
        }
        .itemText {
          font-family: "Mulish";
          font-size: calc(100vw / 1920 * 18);
          line-height: 140%;
          @media (min-width: 1920px) {
            font-size: 18px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 18);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 18);
          }
          @media (max-width: 1024px) {
            font-size: calc(100vw / 1024 * 18);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 20);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 18);
          }
        }
      }
    }
  }
}
