@use "../../../utils/variables.scss" as *;

.container {
  position: relative;
  width: 100%;
  height: calc(100vw / 1920 * 1010);
  @media (min-width: 1920px) {
    height: 1010px;
  }
  @media (max-width: 1440px) {
    height: calc(100vw / 1440 * 900);
  }
  @media (max-width: 1280px) {
    height: calc(100vw / 1280 * 869);
  }
  @media (max-width: 744px) {
    height: calc(100vw / 744 * 1969);
  }
  @media (max-width: 414px) {
    height: calc(100vw / 414  * 1523);
  }
  .wrapper {
    width: calc(100vw / 1920 * 1920);
    margin: 0 auto;
    @media (min-width: 1920px) {
      width: 1920px;
    }
    .title {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: calc(100vw / 1920 * 503);
      font-family: "Unbounded";
      font-size: calc(100vw / 1920 * 64);
      font-weight: 600;
      line-height: 130%;
      margin: calc(100vw / 1920 * 80) 0 calc(100vw / 1920 * 80)
        calc(100vw / 1920 * 295);
      @media (min-width: 1920px) {
        width: 503px;
        font-size: 64px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 503);
        font-size: calc(100vw / 1440 * 64);
        margin: calc(100vw / 1440 * 80) 0 calc(100vw / 1440 * 40) calc(100vw / 1440 * 205);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 448);
        font-size: calc(100vw / 1280 * 48);
        margin: calc(100vw / 1280 * 80) 0 calc(100vw / 1280 * 40) calc(100vw / 1280 * 192);
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 268);
        font-size: calc(100vw / 744 * 32);
        margin: calc(100vw / 744 * 80) 0 calc(100vw / 744 * 40) calc(100vw / 744 * 125);
      }
      @media (max-width: 414px) {
        width: calc(100vw / 414 * 320);
        font-size: calc(100vw / 414 * 28);
        margin: calc(100vw / 414 * 40) 0 calc(100vw / 414 * 40) calc(100vw / 414 * 20);
      }
    }
    .content {
      position: relative;
      width: calc(100vw / 1920 * 1599);
      height: fit-content;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @media (min-width: 1920px) {
        width: 1599px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 1239);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 1080);
      }
      @media (max-width: 744px) {
        flex-direction: column;
        width: calc(100vw / 744 * 494);
        height:calc(100vw / 744 * 1643);
      }
      @media (max-width: 414px) {
        width: calc(100vw /414 * 375);
        height:calc(100vw / 414 * 1340);
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        z-index: 1;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw / 1920 * 830);
        height: calc(100vw / 1920 * 110);
        border-radius: 0 0 calc(100vw / 1920 * 150) calc(100vw / 1920 * 150);
        background: $bg-indigo;
        @media (min-width: 1920px) {
          width: 830px;
          height: 110px;
          border-radius: 0 0 150px 150px;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 737);
          height: calc(100vw / 1440 * 99);
          border-radius: 0 0 calc(100vw / 1440 * 150) calc(100vw / 1440 * 150);
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 712);
          height: calc(100vw / 1280 * 99);
          border-radius: 0 0 calc(100vw / 1280 * 150) calc(100vw / 1280 * 150);
        }
        @media (max-width: 744px) {
          display: none;
        }
      }
      .contentItem {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw / 1920 * 517);
        height: calc(100vw / 1920 * 512);
        border-radius: calc(100vw / 1920 * 100);
        padding: calc(100vw / 1920 * 148) calc(100vw / 1920 * 104) 0;
        @media (min-width: 1920px) {
          width: 517px;
          height: 521px;
          border-radius: 100px;
          padding: 148px 103px 0;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 397);
          height: calc(100vw / 1440 * 451);
          border-radius: calc(100vw / 1440 * 100);
          padding: calc(100vw / 1440 * 111) calc(100vw / 1440 * 67) 0;
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 344);
          height: calc(100vw / 1280 * 483);
          border-radius: calc(100vw / 1280 * 100);
          padding: calc(100vw / 1280 * 123) calc(100vw / 1280 * 32) 0;
        }
        @media (max-width: 744px) {
          padding: calc(100vw / 744 * 157) calc(100vw / 744 * 75);
          height: calc(100vw / 744 * 521);
          width: calc(100vw / 744 * 494);
          border-radius: calc(100vw / 744 * 100);
          padding: calc(100vw / 744 * 148) calc(100vw / 744 * 92) 0;
          &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: -1px;
            right: -1px;
            width: calc(100vw / 744 * 247);
            height: calc(100vw / 744 * 99);
            border-radius: 0 0 0 calc(100vw / 744 * 100);
            background: $bg-indigo;
          }
        }
        @media (max-width: 414px) {
          height: calc(100vw / 414 * 420);
          width: calc(100vw / 414 * 375);
          border-radius: calc(100vw / 414 * 50);
          padding: calc(100vw / 414 * 111) calc(100vw / 414 * 56) 0;
          &::before {
            width: calc(100vw / 414 * 213);
            height: calc(100vw / 414 * 80);
            border-radius: 0 0 0 calc(100vw / 414 * 150);
          }
        }
        &:nth-child(2n) {
          background: $bg-white;
          .black {
            color: $text-black;
          }
        }
        &:nth-child(odd) {
          background: $bg-green;
        }
        .itemTitle {
          font-family: "Unbounded";
          font-size: calc(100vw / 1920 * 32);
          font-weight: 500;
          line-height: 130%;
          margin-bottom: calc(100vw / 1920 * 16);
          @media (min-width: 1920px) {
            font-size: 32px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 32);
            margin-bottom: calc(100vw / 1440 * 16);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 32);
            margin-bottom: calc(100vw / 1280 * 16);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 32);
            margin-bottom: calc(100vw / 744 * 16);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 28);
            margin-bottom: calc(100vw / 414 * 16);
          }
        }
        .itemText {
          font-family: "Mulish";
          font-size: calc(100vw / 1920 * 20);
          line-height: 140%;
          @media (min-width: 1920px) {
            font-size: 20px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 18);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 18);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 20);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 18);
          }
        }
      }
    }
  }
}
