@use "../../utils/variables" as *;

.navblock {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  .navLink {
    position: relative;
    display: flex;
    align-items: center;
    color: $text-white;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    cursor: pointer;
    @media (max-width: 744px) {
      font-size: calc(100vw / 744 * 16);
    }
    @media (max-width: 414px) {
      font-size: calc(100vw / 414 * 14);
    }
  }
}
