@use "../../utils/variables" as *;

.navblock {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  .navLink {
    position: relative;
    display: flex;
    align-items: center;
    color: $text-white;
    font-family: 'Raleway';
    font-size: 20px ;
    font-style: normal;
    line-height: 150%;
    cursor: pointer;
  }
}
