@use "../../../utils/variables.scss" as *;

.section {
  .container {
    position: relative;
    height: calc(100vw / 1920 * 483);
    display: flex;
    align-items: center;
    @media (min-width: 1920px) {
      height: 483px;
    }
    @media (max-width: 1440px) {
      height: calc(100vw / 1440 * 404);
    }
    @media (max-width: 1280px) {
      height: calc(100vw / 1280 * 382);
    }
    @media (max-width: 1024px) {
      height: calc(100vw / 1024 * 302);
    }
    @media (max-width: 744px) {
      height: calc(100vw / 744 * 302);
    }
    @media (max-width: 414px) {
      height: calc(100vw / 414 * 196);
    }
    .scrollSection {
      width: 700vw;
      position: absolute;
      display: flex;
      align-items: center;
      .title,
      span {
        font-size: calc(100vw / 1920 * 64);
        white-space: nowrap;
        flex-shrink: 0;
        animation: animation 8s linear infinite;
        @keyframes animation {
          from{
            transform: translate3d(0);
          }
          to{
            transform: translate3d( -100%, 0, 0);
          }
        }
        @media (min-width: 1920px) {
          font-size: 64px;
        }
        @media (max-width: 1440px) {
          font-size: calc(100vw / 1440 * 64);
        }
        @media (max-width: 1280px) {
          font-size: calc(100vw / 1280 * 48 );
        } 
        @media (max-width: 1024px) {
          font-size: calc(100vw / 1024 * 48 );
        } 
        @media (max-width: 744px) {
          font-size: calc(100vw / 744 * 48);
        }
        @media (max-width: 414px) {
          font-size: calc(100vw / 414 * 28);
        }
        span {
          font-family: 'Unbounded', sans-serif;
          color: $text-green;
          padding-right: calc(100vw / 1920 * 65);
          @media (min-width: 1920px) {
            padding-right: 65px;
          }
          @media (max-width: 1440px) {
            padding-right: calc(100vw / 1440 * 65);
          }
          @media (max-width: 1280px) {
            padding-right: calc(100vw / 1280 * 55);
          }
          @media (max-width: 1024px) {
            padding-right: calc(100vw / 1024  * 55);
          }
          @media (max-width: 744px) {
            padding-right: calc(100vw / 744 * 55);
          }
          @media (max-width: 414px) {
            padding-right: calc(100vw / 414 * 30);
          }
        }
      }
    }
  }
}
