@use "../../../utils/variables.scss" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  width: 100%;

  @media (max-width: 414px) {
    height: calc(100vh - 81px);
  }
  .title {
    @media (max-width: 414px) {
      margin-left: calc(100vw / 414 * 20);
    }
  }
  .title,
  span {
    text-align: center;
    font-family: "Unbounded";
    font-size: calc(100vw / 1920 * 64);
    font-weight: 600;
    line-height: 130%;
    margin-bottom: calc(100vw / 1920 * 80);
    @media (min-width: 1920px) {
      font-size: 64px;
      margin-bottom: 80px;
    }
    @media (max-width: 1440px) {
      font-size: calc(100vw / 1440 * 64);
      margin-bottom: calc(100vw / 1440 * 80);
    }
    @media (max-width: 1280px) {
      font-size: calc(100vw / 1280 * 48);
      margin-bottom: calc(100vw / 1280 * 80);
    }
    @media (max-width: 1024px) {
      font-size: calc(100vw / 1024 * 40);
      margin-top: calc(100vw / 1024 * 40);
    }
    @media (max-width: 744px) {
      font-size: calc(100vw / 744 * 32);
      margin-top: calc(100vw / 744 * 40);
    }
    @media (max-width: 414px) {
      font-size: calc(100vw / 414 * 26);
      margin-bottom: calc(100vw / 414 * 40);
      text-align: start;
    }
    span {
      color: $text-green;
    }
  }
  .watch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw / 1920 * 664);
    height: calc(100vw / 1920 * 220);
    margin: 0 auto;
    @media (min-width: 1920px) {
      width: 664px;
      height: 220px;
    }
    @media (max-width: 1440px) {
      width: calc(100vw / 1440 * 664);
      height: calc(100vw / 1440 * 220);
    }
    @media (max-width: 1280px) {
      width: calc(100vw / 1280 * 664);
      height: calc(100vw / 1280 * 220);
    }
    @media (max-width: 1024px) {
      width: calc(100vw / 1024 * 664);
      height: calc(100vw / 1024 * 220);
    }
    @media (max-width: 744px) {
      width: calc(100vw / 744 * 664);
      height: calc(100vw / 744 * 220);
    }
    @media (max-width: 414px) {
      width: calc(100vw / 414 * 316);
      height: calc(100vw / 414 * 124);
    }
    .watchItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .clock {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100vw / 1920 * 152);
        height: calc(100vw / 1920 * 172);
        // background-color: $bg-indigo;
        backdrop-filter: blur(4px);
        border-radius: calc(100vw / 1920 * 10);
        @media (min-width: 1920px) {
          width: 152px;
          height: 172px;
          border-radius: 10px;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 152);
          height: calc(100vw / 1440 * 172);
          border-radius: calc(100vw / 1440 * 10);
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 152);
          height: calc(100vw / 1280 * 172);
          border-radius: calc(100vw / 1280 * 10);
        }
        @media (max-width: 1024px) {
          width: calc(100vw / 1024 * 152);
          height: calc(100vw / 1024 * 172);
          border-radius: calc(100vw / 1024 * 10);
        }
        @media (max-width: 744px) {
          width: calc(100vw / 744 * 152);
          height: calc(100vw / 744 * 172);
          border-radius: calc(100vw / 744 * 10);
        }
        @media (max-width: 414px) {
          width: calc(100vw / 414 * 72);
          height: calc(100vw / 414 * 92);
          border-radius: calc(100vw / 412 * 10);
        }
        &::after {
            content: "";
            position: absolute;
            width: calc(100vw / 1920 * 160);
            height: calc(100vw / 1920 * 180);
            background-image: url(../../../assets/svg/number@1920.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: calc(100vw / 1920 * 12);
            @media (min-width: 1920px) {
                  width: 160px;
                  height: 180px;
                  border-radius: 12px;
                }
                @media (max-width: 1440px) {
                  background-image: url(../../../assets/svg/number@1440.svg);
                  width: calc(100vw / 1440 * 160);
                  height: calc(100vw / 1440 * 180);
                  border-radius: calc(100vw / 1440 * 12);
                }
                @media (max-width: 1280px) {
                  background-image: url(../../../assets/svg/number@1280.svg);
                  width: calc(100vw / 1280 * 160);
                  height: calc(100vw / 1280 * 180);
                  border-radius: calc(100vw / 1280 * 12);
                }
                @media (max-width: 1024px) {
                  background-image: url(../../../assets/svg/number@744.svg);
                  width: calc(100vw / 1024 * 160);
                  height: calc(100vw / 1024 * 180);
                  border-radius: calc(100vw / 1024 * 12);
                }
                @media (max-width: 744px) {
                  background-image: url(../../../assets/svg/number@744.svg);
                  width: calc(100vw / 744 * 160);
                  height: calc(100vw / 744 * 180);
                  border-radius: calc(100vw / 744 * 12);
                }
                @media (max-width: 414px) {
                  background-image: url(../../../assets/svg/number@414.svg);
                  width: calc(100vw / 414 * 80);
                  height: calc(100vw / 414 * 100);
                  border-radius: calc(100vw / 414 * 12);
                }
          }
        p {
          font-family: "Unbounded";
          font-size: calc(100vw / 1920 * 64);
          font-style: normal;
          font-weight: 400;
          @media (min-width: 1920px) {
            font-size: 64px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 64);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 64);
          }
          @media (max-width: 1024px) {
            font-size: calc(100vw / 1024 * 64);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 64);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 28);
          }
        }
      }
      .clockTitle {
        font-family: "Raleway";
        text-transform: uppercase;
        font-size: calc(100vw / 1920 * 16);
        font-weight: 400;
        line-height: 165%;
        @media (min-width: 1920px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: calc(100vw / 1440 * 16);
        }
        @media (max-width: 1280px) {
          font-size: calc(100vw / 1280 * 16);
        }
        @media (max-width: 1024px) {
          font-size: calc(100vw / 1024 * 16);
        }
        @media (max-width: 744px) {
          font-size: calc(100vw / 744 * 16);
        }
        @media (max-width: 414px) {
          font-size: calc(100vw / 414 * 8);
        }
      }
    }
    .dots {
      position: relative;
      height: calc(100vw / 1920 * 64);
      width: calc(100vw / 1920 * 12);
      margin-bottom: calc(100vw / 1920 * 48);
      @media (min-width: 1920px) {
        height: 64px;
        width: 12px;
        margin-bottom: 48px;
      }
      @media (max-width: 1440px) {
        height: calc(100vw / 1440 * 64);
        width: calc(100vw / 1440 * 12);
        margin-bottom: calc(100vw / 1440 * 48);
      }
      @media (max-width: 1280px) {
        height: calc(100vw / 1280 * 64);
        width: calc(100vw / 1280 * 12);
        margin-bottom: calc(100vw / 1280 * 48);
      }
      @media (max-width: 1024px) {
        height: calc(100vw / 1024 * 64);
        width: calc(100vw / 1024 * 12);
        margin-bottom: calc(100vw / 1024 * 48);
      }
      @media (max-width: 744px) {
        height: calc(100vw / 744 * 64);
        width: calc(100vw / 744 * 12);
        margin-bottom: calc(100vw / 744 * 48);
      }
      @media (max-width: 414px) {
        height: calc(100vw / 414 * 28);
        width: calc(100vw / 414 * 6);
        margin-bottom: calc(100vw / 414 * 36);
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: calc(100vw / 1920 * 12);
        height: calc(100vw / 1920 * 12);
        background: $bg-white;
        border-radius: 50px;
        @media (min-width: 1920px) {
          width: 12px;
          height: 12px;
        }
        @media (max-width: 1440px) {
          height: calc(100vw / 1440 * 12);
          width: calc(100vw / 1440 * 12);
        }
        @media (max-width: 1280px) {
          height: calc(100vw / 1280 * 12);
          width: calc(100vw / 1280 * 12);
        }
        @media (max-width: 1024px) {
          height: calc(100vw / 1024 * 12);
          width: calc(100vw / 1024 * 12);
        }
        @media (max-width: 744px) {
          height: calc(100vw / 744 * 12);
          width: calc(100vw / 744 * 12);
        }
        @media (max-width: 414px) {
          height: calc(100vw / 414 * 6);
          width: calc(100vw / 414 * 6);
        }
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }
}
