@use "../../../utils/variables.scss" as *;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 744px) {
    height: calc(100vw / 744 * 1133);
  }
  @media (max-width: 414px) {
    height: calc(100vw / 414 * 736 );
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw / 1920 * 1467);
    height: fit-content;
    @media (min-width: 1920px) {
      width: 1467px;
    }
    @media (max-width: 1440px) {
      width: calc(100vw / 1440 * 1240);
    }
    @media (max-width: 1280px) {
      width: calc(100vw / 1280 * 1080);
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      width: calc(100vw / 1024 * 494);
      height: calc(100vw / 1024 * 434);
    }
    @media (max-width: 744px) {
      width: calc(100vw / 744 * 497);
      height: calc(100vw / 744 * 450);
    }
    @media (max-width: 414px) {
      width: calc(100vw / 414 * 374);
      height: calc(100vw / 414 * 370);
    }
    .textBlock {
      display: flex;
      flex-direction: column;
      width: calc(100vw / 1920 * 629);
      color: $text-black;
      @media (min-width: 1920px) {
        width: 629px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 629);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 631);
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 414px) {
        width: calc(100vw / 414 * 374);
      }
      .title {
        display: inline-block;
        font-size: calc(100vw / 1920 * 64);
        font-weight: 600;
        margin-bottom: calc(100vw / 1920 * 16);
        @media (min-width: 1920px) {
          font-size: 64px;
          margin-bottom: 16px;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 472);
          font-size: calc(100vw / 1440 * 48);
          margin-bottom: calc(100vw / 1440 * 16);
        }
        @media (max-width: 1280px) {
          width: calc(100vw / 1280 * 472);
          font-size: calc(100vw / 1280 * 48);
          margin-bottom: calc(100vw / 1280 * 16);
        }
        @media (max-width: 1024px) {
          width: calc(100vw / 1024 * 393);
          font-size: calc(100vw / 1024 * 40);
          margin-bottom: calc(100vw / 1024 * 16);
        }
        @media (max-width: 744px) {
          width: calc(100vw / 744 * 472);
          font-size: calc(100vw / 744 * 48);
          margin-bottom: calc(100vw / 744 * 16);
        }
        @media (max-width: 414px) {
          width: 100%;
          font-size: calc(100vw / 414 * 28);
          margin-bottom: calc(100vw / 414 * 16);
        }
      }
      .text {
        display: inline-block;
        font-family: 'Mulish', sans-serif;
        font-size: calc(100vw / 1920 * 20);
        font-weight: 400;
        @media (min-width: 1920px) {
          font-size: 20px;
        }
        @media (max-width: 1440px) {
          font-size: calc(100vw / 1440 * 20);
        }
        @media (max-width: 1280px) {
          font-size: calc(100vw / 1280 * 20);
        }
        @media (max-width: 1024px) {
          font-size: calc(100vw / 1024 * 20);
          width: calc(100vw / 1024 * 472);
        }
        @media (max-width: 744px) {
          font-size: calc(100vw / 744 * 20);
          width: calc(100vw / 820 * 472);
        }
        @media (max-width: 414px) {
          width: calc(100vw / 414 * 330);
          font-size: calc(100vw / 414 * 16);
        }
        span {
          font-size: calc(100vw / 1920 * 24);
          font-weight: 700;
          line-height: normal;
          color: $text-green;
          @media (min-width: 1920px) {
            font-size: 24px;
          }
          @media (max-width: 1440px) {
            font-size: calc(100vw / 1440 * 20);
          }
          @media (max-width: 1280px) {
            font-size: calc(100vw / 1280 * 20);
          }
          @media (max-width: 1024px) {
            font-size: calc(100vw / 1024 * 24);
          }
          @media (max-width: 744px) {
            font-size: calc(100vw / 744 * 20);
          }
          @media (max-width: 414px) {
            font-size: calc(100vw / 414 * 16);
          }
        }
      }
    }
    .formBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(100vw / 1920 * 519);
      @media (min-width: 1920px) {
        width: 519px;
        height: 232px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 503);
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 436);
      }
      @media (max-width: 1024px) {
        width: calc(100vw / 1024 * 494);
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 494);
      }
      @media (max-width: 414px) {
        width: calc(100vw / 414 * 374);
      }
      .input{
        position: relative;
        height: calc(100vw / 1920 * 56);
        border-radius: calc(100vw / 1920 * 12);
        outline:none;
        &:focus{
          box-shadow: 0 0 0 1px #fff;
          -webkit-box-shadow: 0 0 0 1px #fff;
          border: 2px solid $bg-indigo;
        }
        @media (min-width: 1920px) {
          height: 56px;
          border-radius: 12px;
        }
        @media (max-width: 1440px) {
          height: calc(100vw / 1440 * 56);
          border-radius: calc(100vw / 1440 * 12);
        }
        @media (max-width: 1280px) {
          height: calc(100vw / 1280 * 56);
          border-radius: calc(100vw / 1280 * 12);
        }
        @media (max-width: 1024px) {
          height: calc(100vw / 1024 * 56);
          border-radius: calc(100vw / 1024 * 12);
        }
        @media (max-width: 744px) {
          height: calc(100vw / 744 * 56);
          border-radius: calc(100vw / 744 * 12);
        }
        @media (max-width: 414px) {
          height: calc(100vw / 414 * 48);
          border-radius: calc(100vw / 414 * 12);
        }
      }
      .btn {
        width: 100%;
        height: calc(100vw / 1920 * 56);
        font-family: "Raleway";
        font-size: calc(100vw / 1920 * 20);
        font-weight: 600;
        color: $text-white;
        border: none;
        border-radius: calc(100vw / 1920 * 12);
        background-color: $bg-green;
        margin-top: calc(100vw / 1920 * 32);
        cursor: pointer;
        @media (min-width: 1920px) {
          height: 56px;
          border-radius: 12px;
          font-size: 20px;
          margin-top: 32px;
        }
        @media (max-width: 1440px) {
          height: calc(100vw / 1440 * 56);
          font-size: calc(100vw / 1440 * 20);
          border-radius: calc(100vw / 1440 * 12);
          margin-top: calc(100vw / 1440 * 32);
        }
        @media (max-width: 1280px) {
          height: calc(100vw / 1280 * 56);
          font-size: calc(100vw / 1280 * 20);
          border-radius: calc(100vw / 1280 * 12);
          margin-top: calc(100vw / 1280 * 32);
        }
        @media (max-width: 1024px) {
          height: calc(100vw / 1024 * 56);
          font-size: calc(100vw / 1024 * 20);
          border-radius: calc(100vw / 1024 * 12);
          margin-top: calc(100vw / 1024 * 27);
        }
        @media (max-width: 744px) {
          height: calc(100vw / 744 * 56);
          font-size: calc(100vw / 744 * 20);
          border-radius: calc(100vw / 744 * 12);
          margin-top: calc(100vw / 744 * 27);
        }
        @media (max-width: 414px) {
          height: calc(100vw / 414 * 48);
          font-size: calc(100vw / 414 * 16);
          border-radius: calc(100vw / 414 * 12);
          margin-top: calc(100vw / 414 * 16);
        }
        &:hover{
          background: #2FA077;
        }
        &:disabled{
          background: #A4A5A6;;
          cursor:auto;
        }
      }
    }
  }
}
