.wrapper {
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  margin: 0 auto;
  padding: 16px 60px;
  @media (max-width: 820px) {
    height: 60px;
    padding: 0 calc(100vw / 820 * 60);
  }
  .wrapperNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 862px;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
       width: 187px;
       height: 60px;
       background: url("../../assets/svg/3text.svg");
       background-repeat: no-repeat;
       background-size: 150%;
       background-position: center;
       margin-right: 129px;
       @media (max-width: 744px) {
        width: calc(100vw / 744 * 187);
        height: 50px;
        font-size: 40px;
        margin-right: calc(100vw / 744 * 129);
      }
       @media (max-width: 414px) {
        width: calc(100vw / 414 * 187);
        height: 50px;
        font-size: 40px;
        margin-right: calc(100vw / 414 * 80);
      }
    }
  }
}