@use "../../../utils/variables.scss" as *;

.titleContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  background: transparent;
  @media (min-width: 1920px) {
    width: 1920px;
    margin: 0 auto;
  }
  .backgroundContainer {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw / 1920 * 1920);
    height: 100vh;
    pointer-events: none;
    opacity: 0.4;
    @media (min-width: 1920px) {
      width: 1920px;
      margin: 0 auto;
    }
    .flagLeft,
    .flagRight {
      position: absolute;
      width: calc(100vw / 1920 * 888);
      height: calc(100vw / 1920 * 710);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
      @media (min-width: 1920px) {
        width: 888px;
        height: 710px;
      }
      @media (max-width: 820px) {
        width: calc(100vw / 820 * 788);
        height: calc(100vw / 820 * 610);
      }
    }
    .flagLeft {
      top: -5%;
      left: -12%;
      @media (max-width: 820px) {
        top: 40%;
        left: -30%;
      }
      @media (max-width: 412px) {
        top: 65%;
        left: -10%;
      }
    }
    .flagRight {
      top: 15%;
      right: -10%;
      z-index: -1;
      transform: scaleY(-1);
      rotate: 180deg;
      @media (min-width: 1920px) {
      }
      @media (max-width: 820px) {
        top: 0;
        right: -30%;
      }
      @media (max-width: 412px) {
        top: 5%;
        right: 0;
      }
    }
  }
  .titleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw / 1920 * 1188);
    max-height: 342px;
    @media (min-width: 1920px) {
      width: 1188px;
    }
    @media (max-width: 1440px) {
      width: calc(100vw / 1440 * 1188);
    }
    @media (max-width: 1280px) {
      width: calc(100vw / 1280 * 1080);
    }
    @media (max-width: 744px) {
      width: calc(100vw / 744 * 665);
    }
    @media (max-width: 414px) {
      width: calc(100vw / 414 * 374);
      // padding: 0 calc(100vw / 414 * 28);
      align-items: flex-start;
    }
    .mainTitle {
      font-family: "Unbounded";
      font-size: calc(100vw / 1920 * 64);
      font-weight: 600;
      line-height: 130%;
      text-align: center;
      margin-bottom: calc(100vw / 1920 * 24);
      @media (min-width: 1920px) {
        font-size: 64px;
        margin-bottom: 24px;
      }
      @media (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 64);
        margin-bottom: calc(100vw / 1440 * 24);
      }
      @media (max-width: 1280px) {
        font-size: calc(100vw / 1280 * 48);
        margin-bottom: calc(100vw / 1280 * 24);
      }
      @media (max-width: 744px) {
        font-size: calc(100vw / 744 * 32);
        margin-bottom: calc(100vw / 744 * 24);
      }
      @media (max-width: 414px) {
        font-size: calc(100vw / 414 * 28);
        margin-bottom: calc(100vw / 414 * 16);
        text-align: start;
      }
    }
    .mainDescription {
      font-size: calc(100vw / 1920 * 24);
      font-weight: 400;
      line-height: 130%;
      margin-bottom: calc(100vw / 1920 * 56);
      @media (min-width: 1920px) {
        font-size: 24px;
        margin-bottom: 56px;
      }
      @media (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 24);
        margin-bottom: calc(100vw / 1440 * 56);
      }
      @media (max-width: 1280px) {
        font-size: calc(100vw / 1280 * 24);
        margin-bottom: calc(100vw / 1280 * 56);
      }
      @media (max-width: 744px) {
        font-size: calc(100vw / 744 * 18);
        margin-bottom: calc(100vw / 744 * 56);
      }
      @media (max-width: 414px) {
        font-size: calc(100vw / 414 * 18);
        margin-bottom: calc(100vw / 414 * 48);
      }
    }
    .linkBtn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100vw / 1920 * 311);;
      height: calc(100vw / 1920 * 52);
      border: none;
      border-radius: calc(100vw / 1920 * 8);
      background: $bg-indigo;
      cursor: pointer;
      @media (min-width: 1920px) {
        width: 311px;
        height: 52px;
        border-radius: 8px;
      }
      @media (max-width: 1440px) {
        width: calc(100vw / 1440 * 311);
        height: calc(100vw / 1440 * 52);
        border-radius: calc(100vw / 1440 * 8); 
      }
      @media (max-width: 1280px) {
        width: calc(100vw / 1280 * 311);
        height: calc(100vw / 1280 * 52);
        font-size: calc(100vw / 1280 * 20); 
        border-radius: calc(100vw / 1280 * 8);
      }
      @media (max-width: 744px) {
        width: calc(100vw / 744 * 311);
        height: calc(100vw / 744 * 52);
        border-radius: calc(100vw / 744 * 8);
      }
      @media (max-width: 414px) {
        width: calc(100vw / 414 * 374);
        height: calc(100vw / 414 * 52);
        border-radius: calc(100vw / 414 * 8);
      }
      &:after,
      &:before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw / 1920 * 319);
        height: calc(100vw / 1920 * 60);
        border-radius: calc(100vw / 1920 * 12);
        transition: 0.3s;
        @media (min-width: 1920px) {
          width: 319px;
          height: 60px;
          border-radius: 12px;
        }
        @media (max-width: 1440px) {
          width: calc(100vw / 1440 * 319);
          height: calc(100vw / 1440 * 60);
          border-radius: calc(100vw / 1440 * 12);
        }
        @media (max-width: 744px) {
          width: calc(100vw / 744 * 319);
          height: calc(100vw / 744 * 60);
          border-radius: calc(100vw / 744 * 12);
        }
        @media (max-width: 414px) {
          border-radius: calc(100vw / 414 * 12);
        }
      }
      &:before {
        background: linear-gradient(
          90deg,
          rgba(25, 225, 189, 0.71) 0%,
          rgba(54, 111, 196, 0.49) 50%,
          rgba(54, 111, 196, 0.49) 70%,
          rgba(82, 167, 53, 0.83) 100%
        );
      }
      &:after {
        z-index: -3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 102.5%;
        height: 115.5%;
        background: linear-gradient(
          90deg,
          rgba(82, 167, 53, 0.83) 0%,
          rgba(54, 111, 196, 0.49) 50%,
          rgba(54, 111, 196, 0.49) 70%,
          rgba(25, 225, 189, 0.71) 100%
        );
      }
      &:hover::before {
        opacity: 0;
      }
      .link {
        color: $text-white;
        font-family: 'Mulish', sans-serif;
        font-size: calc(100vw / 1920 * 20);
        font-weight: 400;
        line-height: 2vh;
        transition: 0.3s;
        @media (min-width: 1920px) {
          font-size: 20px;
        }
        @media (max-width: 1440px) {
          font-size: calc(100vw / 1440 * 20);
        }
        @media (max-width: 1280px) {
          font-size: calc(100vw / 1280 * 20);
        }
        @media (max-width: 744px) {
          font-size: calc(100vw / 744 * 20);
        }
        @media (max-width: 414px) {
          font-size: calc(100vw / 414 * 20);
        }
      }
    }
  }
  .arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: moveArrow 1s ease-in-out infinite;
    @media (max-width: 744px) {
      display: none;
    }
  }
  @keyframes moveArrow {
    0% {
      bottom: 15%;
    }
    50% {
      bottom: 13%;
    }
    100% {
      bottom: 15%;
    }
  }
  @media (max-width: 1440px) {
    @keyframes moveArrow {
      0% {
        bottom: 12%;
      }
      50% {
        bottom: 10%;
      }
      100% {
        bottom: 12%;
      }
    }
  }
}
