@use "../../utils/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: calc(100vw / 1920 * 5);
  margin-bottom: calc(100vw / 1920 * 5);
  width: 100%;
  @media (min-width: 1920px) {
    margin-bottom: 5px;
    gap: 5px;
  }
  @media (max-width: 1440px) {
    gap: calc(100vw / 1440 * 7);
  }
  @media (max-width: 1280px) {
    gap: calc(100vw / 1280 * 7);
  }
  @media (max-width: 744px) {
    gap: calc(100vw / 744 * 7);
  }
  @media (max-width: 414px) {
    gap: calc(100vw / 414 * 8);
  }
  .title {
    height: calc(100vw / 1920 * 14);
    font-family: "Raleway";
    font-size: calc(100vw / 1920 * 14);
    font-weight: 400;
    @media (min-width: 1920px) {
      font-size: 14px;
      height: 14px;
    }
    @media (max-width: 1440px) {
      font-size: calc(100vw / 1440 * 14);
      height: calc(100vw / 1440 * 14);
    }
    @media (max-width: 1280px) {
      font-size: calc(100vw / 1280 * 14);
      height: calc(100vw / 1280 * 14);
    }
    @media (max-width: 744px) {
      font-size: calc(100vw / 744 * 14);
      height: calc(100vw / 744 * 14);
    }
    @media (max-width: 414px) {
      font-size: calc(100vw / 414 * 14);
      height: calc(100vw / 414 * 14);
    }
  }
  .error{
    display: inline-block;
    color: red;
  }
  .inputWrapper {
    position: relative;
    input {
      position: relative;
      font-family: "Raleway";
      width: 100%;
      height: calc(100vw / 1920 * 56);
      padding: 0 calc(100vw / 1920 * 16);
      border: none;
      border-radius: calc(100vw / 1920 * 12);
      font-size:calc(100vw / 1920 * 16); 
      color: $text-black;     
      &::placeholder{
        color: $text-grey;
        font-weight: 600;
        @media (max-width: 412px) {
          font-size: calc(100vw / 412 * 16);
        }
      }
      @media (min-width: 1920px) {
        height: 56px;
        padding: 15px;
        border-radius: 12px;
      }
      @media (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 16);
        padding: calc(100vw / 1440 * 16);
      }
      @media (max-width: 1280px) {
        font-size: calc(100vw / 1280 * 16);
        padding: calc(100vw / 1280 * 16);
      }
      @media (max-width: 744px) {
        font-size: calc(100vw / 744 * 16);
        padding: calc(100vw / 744 * 16);
        margin-bottom: calc(100vw / 744 * 5);
      }
      @media (max-width: 414px) {
        font-size: calc(100vw / 414 * 14);
        padding: calc(100vw / 414 * 16);
        margin-bottom: calc(100vw / 414 * 14);
      }
    }
  }
}
