* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #fff
}

a{
  text-decoration: none;
  color: #02031B;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p,
label,
input,
div,
span {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

:root{
  --color-grey: #a5a5a5;
  --color-hover: #bbbbbb;
  --transition: 0.4s; 
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgba(166, 166, 166, 0.1);  
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bcbcbc;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bcbcbc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bcbcbc;
}
body{
  background: #222831;
}